@font-face {
    font-family: 'Vazirmatn';
    src: url("../fonts/Vazirmatn-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Vazirmatn', sans-serif;
}

#proxy-list {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#toast,
#security-check {
    z-index: 10;
    animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

button {
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

p {
    word-wrap: break-word;
}


footer {
    position: fixed;
    bottom: 0;
    z-index: 5;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    width: 100%;
}

.dark footer {
    background-color: rgba(50, 32, 107, 0.3);
}

/* HTML: <div class="loader"></div> */
.loader {
    height: 4px;
    width: 130px;
    --c: no-repeat linear-gradient(#6100ee 0 0);
    background: var(--c), var(--c), #d7b8fc;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}

@keyframes l16 {
    0% {
        background-position: -150% 0, -150% 0
    }

    66% {
        background-position: 250% 0, -150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}